{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>http//EduFox.example</title>
  <link rel="stylesheet" type="text/css" href="{%static 'edufox/css/display.css' %}">
 </head>

<body style="background-color:lightyellow">
	<div id="animated_div">EduFox</div><br>
	<br>
	<div>
		<pre>                                                                           <font size="40"> WELCOME </font>     </pre>
	</div>
	<br>
	<div>
		<figure>
	<img src="{% static 'edufox/css/edfox-logo.jpg' %}" style="height: 100px;width: 70px;align-right:30px">
		<figcaption style="color: black;font: icon;">EduFox</figcaption>
	</figure>
		<ul>
			<li>EduFox is educational Consulting group established in year 2018 ,we are leaders in the space of educational consulting .carrer Development programs,Curriculum Design and implementation. </li>
			<li>we ofer a wide variety of technology /Domain focused workshop,Training to the student Communinty to enhance the Experience of the Digital learning.</li>
			<li>our partners/trainers are proven Experts in the area of Digital marketing ,IoT,BlockChain,BigData,Energy Auditing,Design&AutoCAD and many more upcoming digital trends.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. </li>
		</ul>
	</div>
	<br>
	<div id="box_shadow">courses and traning offered by us:-</div>
	<br>
  <br>
  <br>
  <div class="dropdown" style="float:left;">
    <button class="dropbtn">customized workshops</button>
    <div class="dropdown-content" style="left:0;">
      <a href="../../page2/" >workshop1</a>
      <a href="../../page2/" >workshop2</a>
      <a href="../../page2/" >workshop3</a>
    </div>
  </div>
  
<div class="dropdown" style="float:center;margin-left: 350px">
  <button class="dropbtn">Alignment to industry CourseCurriculum</button>
  <div class="dropdown-content">
    <a href="../../page2/" >web-devlopment</a>
    <a href="../../page2/"  >app-devlopment</a>
    <a href="../../page2/"  >Big-data</a>
    <a href="../../page2/"  >block-chain</a>
  </div>
</div>
<div class="dropdown" style="float:right;">
  <button class="dropbtn">Step wise career Development</button>
  <div class="dropdown-content">
    <a href="../../page2/" >java</a>
    <a href="../../page2/" >c++</a>
    <a href="../../page2/"  >data structure</a>
  </div>
</div>
<br>
<br>
<div style="background-color: blue;border: 5px;width: 380px;height: 110px">
  <pre>
                                        <h1>Ads are posted here.....</h1>
                                      </pre>
</div>
<br>
<br>


<div>
  <h1 style="height: 100px;width: 100px;color: white;background-color: black;: ">Our Team:-</h1>
</div>
<br>
<br>
<div style="width: 2000px;height: 500px;">
  <div class="row">
  <div class="column">
    <div class="card">
      <img src="{% static 'edufox/css/prabhat.jpg' %}" alt="prabhat jha" style="width:50px;height:80px">
      <div class="container">
        <h2>prabhat jha</h2>
        <p class="title" >CEO</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jprabhat65@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<br>
<div>
  <p>For any query <a href="../../feedback/">click here</a></p>
</div>

</body>
</html>